<div class="nav-format">
	<label for="<%= id %>"><%= caption %></label>
	<ul id="<%= id %>">
		<li onclick="fontBold(this, '<%= target %>', '<%= tag %>')" title="Bold" class="bold">B</li>
		<li onclick="fontItalic(this, '<%= target %>', '<%= tag %>')" title="Italic" class="italic">I</li>
		<li onclick="fontUnderline(this, '<%= target %>', '<%= tag %>')" title="Underline" class="underline">U</li>
		<li onclick="fontSmallCaps(this, '<%= target %>', '<%= tag %>')" title="Small Caps" class="small-caps">S</li>
	</ul>
</div>