<div class="img-caption"><%= raw caption %></div>
<img id="<%= id %>" width="200" height="50" class="img-section" title="Select Image" autocomplete="off">
<input type="file" name="<%= name %>" accept="image/*" onchange="previewImage(event, '<%= id %>', '<%= target %>')" class="img-caption" autocomplete="off">
<button class="button">Upload</button>